worker_processes ENV["UNICORN_WORKERS"].to_i
listen ENV["UNICORN_LISTEN"]
pid File.join(ENV["UNICORN_PID_DIR"], "unicorn.#{ENV["APP_NAME"]}.pid")

# combine REE with "preload_app true" for memory savings
# # http://rubyenterpriseedition.com/faq.html#adapt_apps_for_cow
preload_app true
GC.respond_to?(:copy_on_write_friendly=) and
  GC.copy_on_write_friendly = true

